:root {
  --page_background: #9da6c1;
  
  --display: linear-gradient(45deg, #364873 0%, #9899BD 100%);
  --display2: linear-gradient(45deg, rgba(128,19,115,1) 0%, rgba(16,171,245,1) 100%);
  --display_number: #ffffff;

  --number: #000000;
  --number_buttons: #ffffff;
  --operator_button: #f0f0f0;
  --buttons_hover: rgba(16,171,245,0.8);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--page_background);
  padding: 50px;
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 400px;

  border-radius: 10px 10px 0 0;

  background: white;
  box-shadow: 10px 9px 10px -3px rgba(0,0,0,0.21);
}

#calculator button {
  height: 80px;
  width: 80px;
  cursor: pointer;
  transition: .2s linear;
}

.numbersButton {
  background-color: var(--number_buttons);
  color: var(--number);
}

.numbersButton:hover {
  background-color: var(--buttons_hover);
}

.operatorButton {
  background-color: var(--operator_button);
  color: var(--number);

}

.operatorButton:hover {
  background-color: var(--buttons_hover);
}

.submitButton {
  background: var(--display);
}

#calculator form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#calculator form #display {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  padding: 0 10px 2px 0;
  border-radius: 10px 10px 0 0;

  color: var(--display_number);

  height: 110px;
  width: 100%;

  font-size: 1.5rem;
  
  background: var(--display)
}

#calculator form #buttonsGrid {
  display: flex;
  align-items: baseline;
}

#calculator form #buttonsGrid #numbersGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#calculator form #buttonsGrid #operatorsGrid {
  display: flex;
  flex-direction: column;
}


